/*--------------------------------------------------------------
# Contribute Section
--------------------------------------------------------------*/
#contribute{
    background-color: #0E1219;
    color:#fff;
    
}
/*=============== ABOUT ===============*/
.about__container{
    row-gap: 2rem;
  }
  
  .about__data{
    text-align: center;
  }
  
  .about__description{
    margin-bottom: var(--mb-2);
    text-align:justify;
  }
  
  .about__img{
    width: 200px;
    justify-self: center;
  }
  section{
    padding-top:100px;
  }
  .section__title {
    font-weight:600;
    /* font-family: 'Roboto Slab', serif; */
  }
